.index_body { padding-top: 30px; padding-bottom: 40px;}
.other_body { padding-top: 70px; padding-bottom: 40px;}
.tab-fixHeight
{
    width:auto;
    height:432px;
    overflow-y:scroll;
}
.courseTabFixHeight
{
    width:auto;
    height:400px;
    overflow-y:scroll;
}

#addSearchIcon {background: url('../assets/ico/search.png') no-repeat right center;}

.noNode { list-style-type:none;}

.bodyLeft 
{  width:50%; 
   text-align:left; 
   float:left; 
   clear:left; 
   overflow:hidden; 
}

.bodyRight 
{
   width:50%; 
   text-align:left; 
   float:right; 
   clear:right; 
   overflow:hidden; 
}

/* Fade in fade out transition  */
/*#carouselBlk,#header{background: url(assets/headerRepeat.png) repeat-x 0 0 #f7f7f7;}*/
/*#myCarousel .carousel-caption{display:none;}*/
#myCarousel{text-align:center; margin-bottom:0}
#myCarousel .item img{width:100%; height:100%;}
#myCarousel .carousel .item {-webkit-transition: opacity 2s; -moz-transition: opacity 2s; -ms-transition: opacity 2s; -o-transition: opacity 2s; transition: opacity 2s;}
#myCarousel .carousel .active.left {left:0;opacity:0;z-index:2;}
#myCarousel .carousel .next {left:0;opacity:1;z-index:1;}
#myCarousel .navbar-inner {padding-left: 0;padding-right: 0;}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {color: white;background-color: #CF0007;text-shadow: none;}


.carousel-featured{

  margin-bottom: 20px;
  width: 100%;
  height: 270px;
  position: relative;
}
.featured
{
  width: 209px;
  height: 198px;
  overflow: hidden;
}
/*.featured {border: 2;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;top:-24px;}
*/
.carousel {

  margin-bottom: 20px;
  width: 100%;
  height: 300px;
  position: relative;
}

.carousel-search {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  /*background: rgba(83, 168, 235, 0.3);*/
  z-index:1000;
}

.carousel-search h1,
.carousel-search h2,
.carousel-search h3,
.carousel-search h4,
.carousel-search p {
  line-height: 20px;
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
}

.carousel-search h4 {
  margin: 0 0 5px;
}

.carousel-search p {
  margin-bottom: 0;
}
/*body*/
/*categories*/
.container-categories {
    width: 1000px;
}
.container-categories {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


/*featuredClass*/
.container-featuredClass {
    width: 1000px;
}
.container-featuredClass {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.featuredClassPhoto {
  width: 300px;
  height: 180px;
  overflow: hidden;
  margin-bottom: 30px;

}

.categories
{
  width: 300px;
  height: 180px;
  overflow: hidden;
  margin-bottom: 30px;
  border: 1px solid #AEAEAE;
 /* background: url("../img/categories/1.jpg") repeat scroll 50% 50% transparent;*/
}


.categoriesNameBackground {
  width: 300px;
  height: 180px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1); 
}
.categoriesNameBackground2 {
  width: 300px;
  height: 180px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0); 
}

.categoriesName
{
  color: #FFFFFF;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 1);
  text-align: center;
  margin: 0;
  padding-top: 60px;
}

.detailsName
{
  font-size: 25px;
  line-height: 20px;
  color: #FFFFFF;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 1);
  text-align: center;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.categoriesDetails
{
  color: #FFFFFF;
  font-size: 29px;
  margin: 0;
  padding-top: 70px;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

a.detailsLink
{
  width: 270px;
  height: 170px;
  color: #FFFFFF;
  text-decoration: none;
}

a.detailsLink:hover
{
    width: 270px;
    height: 170px;
    color: #FFFFFF;
    text-decoration: none;
}
  


.categoriesName h1,
.categoriesName h2,
.categoriesName h3,
.categoriesName h4,
.categoriesName p {
  line-height: 20px;
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
}

/* Footer section--------------- */
#footerSection a{font-size:11px; padding:0 13px; line-height:24px; display:block; }
#footerSection a:hover{background:#eee;  }
#footerSection  #socialMedia a{ min-width:25px; display:inline; margin-right:6px; text-align:center; line-height:1.5em;}
#socialMedia img{max-width:60px;}
#footerSection  #socialMedia a:hover{background:none;}





.photo 
{
    border: 1px solid #DDDDDD;
    box-shadow: 0 0 2px #CCCCCC;
    line-height: 0;
    margin: 0 6px 0 3px;
    padding: 3px;
    position: relative;
}

/* ===================================================== */
/* Light Box------------------- */
#jquery-overlay {position: absolute;top: 0;left: 0;z-index: 90;width: 100%;height: 500px;}
#jquery-lightbox {position: absolute;top: 0;left: 0;width: 100%;z-index: 100;text-align: center;line-height: 0;}
#jquery-lightbox a img { border: none; }#lightbox-container-image-box {position: relative;background-color: #fff;width: 250px;height: 250px;margin: 0 auto;}
#lightbox-container-image { padding: 10px; }#lightbox-loading {position: absolute;top: 40%;left: 0%;height: 25%;width: 100%;text-align: center;line-height: 0;}
#lightbox-nav { position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 10;}#lightbox-container-image-box > #lightbox-nav { left: 0; }#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {width: 49%;height: 100%;zoom: 1;display: block;}
#lightbox-nav-btnPrev { left: 0; float: left;}#lightbox-nav-btnNext { right: 0; float: right;}
#lightbox-container-image-data-box {font: 10px Verdana, Helvetica, sans-serif;background-color: #fff;margin: 0 auto;line-height: 1.4em;overflow: auto;width: 100%;padding: 0 10px 0;}
#lightbox-container-image-data {  padding: 0 10px;  color: #666; }
#lightbox-container-image-data #lightbox-image-details {width: 70%; float: left; text-align: left; }  
#lightbox-image-details-caption { font-weight: bold; }#lightbox-image-details-currentNumber {display: block; clear: left; padding-bottom: 1.0em;}
#lightbox-secNav-btnClose {width: 66px; float: right;padding-bottom: 0.7em; }



