<?xml version="1.0"?>
<!--
Web.config file for mono.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>

  <system.data>
      <DbProviderFactories>
        <clear />
        <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient"
        description=".Net Framework Data Provider for MySQL"
        type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, 
        Version=6.4.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      </DbProviderFactories>
    </system.data>

  <appSettings>
    <!-- add key="mysqlcon" value="server=127.0.0.1; user id=root; password=aaaa; database=nuvention; pooling=true; charset=utf8"/ -->
<add key="mysqlcon" value="server=7165e25a-a985-49c9-be95-a1a70152c1fe.mysql.sequelizer.com;database=db7165e25aa98549c9be95a1a70152c1fe;uid=uktehetqapestfuf;pwd=2Vuh8dZwfc5ZkwRRniVSTyTR8VPVM76hrDNbnsSTFyfqp4BK2AEMyeBAbKhmweRg  database=nuvention; pooling=true; charset=utf8" />  

	<add key="backparam" value="--default-character-set utf8 -h 127.0.0.1 -u root --password=zhxtha --database=gradfund backup.sql"/>
    <add key="restoreParam" value="mysql -h127.0.0.1 -uroot -pa"/>
  </appSettings>
  <system.web>
    <compilation defaultLanguage="C#" debug="true" targetFramework="4.0">
      <assemblies/>
    </compilation>
    <customErrors mode="RemoteOnly"/>
    <authentication mode="None"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <httpHandlers/>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime"/>
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>